:root {
  --dark-violet: #171226;
  --light-violet: #3b3772;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
}

body {
  background: var(--dark-violet);
  font-family: "Montserrat";
  position: relative;
  width: 1088px;
  max-width: 90%;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  width: 904px;
  max-width: 75%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}

.section--is-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
  -webkit-transition: opacity 0.4s ease-in-out 0.4s;
  transition: opacity 0.4s ease-in-out 0.4s;
}

.section--next {
  -webkit-transform: translateY(-45px);
  transform: translateY(-45px);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.section--prev {
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

@media screen and (max-width: 1180px) {
  nav {
    display: none;
  }

  main {
    max-width: 90%;
  }
}

@media screen and (max-width: 967px) {
  section {
    position: relative;
    opacity: 1 !important;
    visibility: visible !important;
  }

  main {
    display: block;
    max-width: 100%;
    padding-top: 10rem;
  }

  body {
    max-width: 95%;
  }

  section {
    min-height: 100vh;
    justify-content: initial;
    opacity: 0 !important;
    transition: 100ms ease-in-out;
  }

  section.active {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 454px) {
  main {
    padding-top: 17rem;
  }
}

.blurry-1 {
  position: absolute;
  top: -35%;
  left: -33%;
  width: 35rem;
}
