:root {
  --dark-purple: #3820a6;
  --darker-purple: #190b59;
  --onirix-purple: #281678;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
}

body {
  font-family: "Montserrat";
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  /*background-image: linear-gradient(to right , var(--dark-purple),var(--darker-purple), var(--dark-purple));*/
  background: linear-gradient(
    214.3deg,
    #886ec1 17.12%,
    #3b3772 50.39%,
    #2f2c52 80.36%
  );
  transition: 1000ms;
}

/* Input prompt */
.form-prompt-container {
  position: absolute;

  background-color: white;

  padding: 1rem;

  border-radius: 5px;

  box-shadow: 4px 4px 35px rgba(0, 0, 0, 25%);

  width: 60%;
  height: auto;
  z-index: 10;
  bottom: 40%;
  transition: 600ms;
}

.prompt-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

#dream-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
  margin-right: 10px;
  resize: none;
  line-height: unset;
  padding-left: 1rem;
  width: 80%;
}

#dream-input::placeholder {
  font-family: "Montserrat";
}

.dream-type-select {
  display: flex;

  gap: 0.5rem;
}

.dream-type-select button {
  border: 2px solid #3b3772; /* changer */

  padding: 0.75rem 1rem;

  border-radius: 50px;

  color: #3b3772;
  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;

  transition: 50ms ease-in-out;
}

.dream-type-select button.active {
  background-color: #3b3772;

  color: white;
}

.container > img {
  filter: blur(0px) brightness(0.9);
}

/* SVG */
#land-foreground-1 {
  position: absolute;
  bottom: 0;
  width: 100%;

  z-index: 10;
}

#land-background-1 {
  position: absolute;
  right: 0;
  bottom: 10%;

  width: 400px;

  z-index: 9;
}

#land-background-2 {
  position: absolute;
  left: 5%;
  bottom: 10%;

  width: 400px;

  z-index: 9;
}

#land-background-3 {
  position: absolute;
  bottom: -15%;

  width: 100%;

  z-index: 8;
}

#clouds-background {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 100%;
}

.form-prompt-container.success-prompt-result {
  bottom: 10%;
}
.sun {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 100px 40px #fff;
  top: 15%;
  right: 10%;

  transition: 1000ms;
}
.sun.east {
  top: 20%;
  left: 80%;
  box-shadow: 0px 10px 1000px 30px rgb(255, 255, 255);
}

/* historique */
.historique {
  padding: 8% 0%;
  position: fixed;
  width: 5%;
  height: 100%;
  z-index: 25;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5px);

  transition: 800ms;
}
.text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  letter-spacing: 2px;

  transition: 800ms;
}
.text.simple {
  transform: rotate(90deg);
}
.historique .icon {
  position: absolute;
  right: 40%;
  top: 40%;
  cursor: pointer;
  z-index: 50;

  transition: 800ms;
}
.historique .icon.active {
  right: 5%;
}

.historique.active {
  padding: 2% 0%;
  width: 50%;
}
.history-container {
  width: 80%;
  margin-left: 10%;
  height: 80%;
  transition: 1200ms;
  display: none;

  overflow-y: scroll;
  overflow-x: hidden;
}
.history-container.active {
  display: block;
}

.history {
  width: 80%;
  margin: 5%;
  padding: 5%;

  border-radius: 5px;
  color: #fff;
}
.history.reve {
  background-color: #2746d9;
}
.history.cauchemar {
  background-color: #201154;
}
.history-container::-webkit-scrollbar {
  width: 5px;
}

.history-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.history-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--onirix-purple);
}
